
.box{
	width:2%;
	height:20px;
	margin:1px;
	background-color:black;
	float:left;
}

body{
	overflow:hidden;
	background-color:black;
}
.blue{
	background-color:blue;
}

$( "#go" ).click(function() {
  $( "#block" ).animate({
    width: "70%",
    opacity: 0.4,
    marginLeft: "0.6in",
    fontSize: "3em",
    borderWidth: "10px"
  }, 1500 );
});