/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:700;
}

del {
	text-decoration:line-through;
}

abbr[title],dfn[title] {
	border-bottom:1px dotted;
	cursor:nav;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

input,select {
	vertical-align:middle;
}

html{
		background-color:#fafafa;
		transition:background .3s ease-in-out;
	-moz-transition:background  .3s ease-in-out;
	-webkit-transition:background  .3s ease-in-out;
}

body {
	font-family:'Old Standard TT';
	line-height:1.2em;
	font-size:22px;
	color:#4a4a4b;
}

.colourbox {
	height:40px;
	float:left;
	padding-left:3px;
	padding-right:4px;
	text-align:center;
	padding-top:13px;
}

.sans {
	font-family:'Roboto';
	font-size:20px;
}

.italic {
	font-style:italic;
}

h1 {
	font-weight:700;
	padding:15px 0;
}

p {
	font-size:16px;
	padding-bottom:10px;
}

p.descript {
	font-size:14px;
}

.space {
	width:10px;
}

.wrapper {
	width:80%;
	margin-left:10%;
	padding-top:100px;
	min-width:300px;
}

/* NAVIGATION */

#nav1, #nav2 {
	right:0;
	top:10px;
	padding-right:10px;
	position:fixed;
	z-index:100;
	opacity:1;
}

#nav .nav-btn{
	opacity:0.8;
}

#nav .nav-btn:hover{
	opacity:1;
}


#nav2{
	padding-top:43px;
	width:40px;
	z-index:101;
	opacity:0;
	transition:opacity .2s ease-in-out;
	-moz-transition:opacity .2s ease-in-out;
	-webkit-transition:opacity .2s ease-in-out;
}


#nav2:hover{
	opacity:1;
}

.nav-btn {
	margin:5px 5px;
	text-align:center;
	padding:5px 8px 10px 6px;
	width:18px;
	height:18px;
	opacity:1;
	float:right;
	border-radius:4px;
}

.nav-btn img {
	width:20px;
	margin-top:1px;
}

.nav-btn.gray {
	background-color:#565656;
	opacity:0.4;
	transition:opacity .2s ease-in-out;
	-moz-transition:opacity .2s ease-in-out;
	-webkit-transition:opacity .2s ease-in-out;
}

.nav-btn.gray:hover {
	opacity:1;
	transition:opacity .2s ease-in-out;
	-moz-transition:opacity .2s ease-in-out;
	-webkit-transition:opacity .2s ease-in-out;
	cursor:hand;
}

.nav-btn.white {
	background-color:#fff;
}


.closed {	background:url(icon_eyeclosed.png)6px no-repeat #565656;
background-size:19px 19px;
}

.open {	background:url(icon_eyeopen.png)6px no-repeat #fff;
	background-size:20px 20px;
}

.sun {	background:url(icon_sun.png) 5px no-repeat #fff;
	background-size:22px 22px;
}

.moon {	background:url(icon_moon.png)5px no-repeat #565656;
	background-size:22px 22px;
}


.noColour {
	background-color:#fff;
}

#about {
/* 	display: none; */
	background-color:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
	margin:0;
	position:fixed;
	z-index:200;
	overflow:hidden;
}

#thisbar {
	letter-spacing:.1em;
}

#aboutbox {
	width:380px;
	background-color:#fff;
	margin:0 auto;
	margin-top:100px;
	padding:20px;
	border-radius:5px;
}

.colourbox.return {
	height:10px;
	width:200%;
	clear:both;
	display:block;
}

#blinker {
	background-color:gray;
	width:10px;
	height:52px;
	float:left;
	margin-bottom:100px;
}

a:link {
	color:#666;
	text-decoration:underline;
}

a:active {
	color:#666;
	text-decoration:none;
}

a:visited {
	color:#666;
	text-decoration:none;
}

a:hover {
	color:#666;
	text-decoration:none;
	cursor:hand;
	font-style:italic;
}

.unselectable {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.selected {
	opacity:.2;
}

.night{
	background:black;
		transition:background .3s ease-in-out;
	-moz-transition:background  .3s ease-in-out;
	-webkit-transition:background  .3s ease-in-out;
}